In [1]:
from langchain.llms import GooglePalm
import os

In [2]:
os.environ["GOOGLE_API_KEY"] = "AIzaSyAPWigmGbmoJfwxizaPfn_LA8nAHOM8oVk"

In [3]:
import langchain
print(langchain.__version__)

0.3.25

In [4]:
from langchain_google_genai import ChatGoogleGenerativeAI

llm = ChatGoogleGenerativeAI(model="models/gemini-1.5-pro-latest", google_api_key=os.environ["GOOGLE_API_KEY"])

In [5]:
response = llm.invoke("What is the capital of Maharashtra?")
print(response.content)

The capital of Maharashtra is Mumbai.

In [6]:
from langchain_community.utilities import SQLDatabase

In [7]:
from langchain_community.utilities import SQLDatabase
from urllib.parse import quote_plus
!pip install pymysql

user = "root"              # your MySQL username
password = "SOHAM13@SQL"  # your MySQL password
host = "localhost"        # hostname (localhost or IP address)
port = 3306               # default MySQL port
database = "libradb"      # name of your MySQL database
password_encoded = quote_plus(password)

db = SQLDatabase.from_uri(
    f"mysql+pymysql://{user}:{password_encoded}@{host}/{database}"
)
print(db.table_info)

Requirement already satisfied: pymysql in c:\users\soham\appdata\local\programs\python\python311\lib\site-packages (1.1.1)

CREATE TABLE author (
	`AuthorID` INTEGER NOT NULL AUTO_INCREMENT,
	`FirstName` VARCHAR(255) NOT NULL,
	`LastName` VARCHAR(255) NOT NULL,
	`Nationality` VARCHAR(255),
	PRIMARY KEY (`AuthorID`)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from author table:
AuthorID	FirstName	LastName	Nationality
1	Haruki	Murakami	Japan
2	Helle	Helle	Denmark
3	Ernest	Hemingsway	USA
*/


CREATE TABLE book (
	`BookID` INTEGER NOT NULL AUTO_INCREMENT,
	`Title` VARCHAR(255) NOT NULL,
	`ReleaseYear` YEAR,
	`PageCount` INTEGER,
	`TotalQuantity` INTEGER NOT NULL,
	`TextLanguage` VARCHAR(255),
	`PublisherID` INTEGER,
	`GenreID` INTEGER,
	PRIMARY KEY (`BookID`),
	CONSTRAINT book_ibfk_1 FOREIGN KEY(`PublisherID`) REFERENCES publisher (`PublisherID`) ON DELETE CASCADE,
	CONSTRAINT book_ibfk_2 FOREIGN KEY(`GenreID`) REFERENCES genre (`GenreID`) ON DELETE CASCADE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from book table:
BookID	Title	ReleaseYear	PageCount	TotalQuantity	TextLanguage	PublisherID	GenreID
1	Kafka på stranden	2007	505	5	Danish	1	4
2	1Q84	2011	928	4	Danish	1	1
3	Rødby-Puttgarden	2011	None	1	Danish	2	3
*/


CREATE TABLE fine (
	`FineID` INTEGER NOT NULL AUTO_INCREMENT,
	`Amount` DECIMAL(8, 2) NOT NULL,
	`UserID` INTEGER NOT NULL,
	`IssuedDate` DATE NOT NULL,
	`PaymentStatus` ENUM('PAID','NOT PAID') NOT NULL,
	PRIMARY KEY (`FineID`),
	CONSTRAINT fine_ibfk_1 FOREIGN KEY(`UserID`) REFERENCES libraryuser (`UserID`) ON DELETE CASCADE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from fine table:
FineID	Amount	UserID	IssuedDate	PaymentStatus
1	100.00	7	2019-09-17	NOT PAID
2	100.00	7	2019-10-20	NOT PAID
3	100.00	7	2019-12-14	NOT PAID
*/


CREATE TABLE genre (
	`GenreID` INTEGER NOT NULL AUTO_INCREMENT,
	`GenreType` VARCHAR(255) NOT NULL,
	`GenreSubtype` VARCHAR(255) NOT NULL,
	PRIMARY KEY (`GenreID`)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from genre table:
GenreID	GenreType	GenreSubtype
1	Fiction	Romance
2	Fiction	Horror
3	Fiction	Thriller
*/


CREATE TABLE libraryuser (
	`UserID` INTEGER NOT NULL AUTO_INCREMENT,
	`FirstName` VARCHAR(255) NOT NULL,
	`LastName` VARCHAR(255) NOT NULL,
	`BirthDate` DATE NOT NULL,
	`LoanerNumber` VARCHAR(6) NOT NULL,
	`UserStatus` ENUM('ACTIVE','TERMINATED','BLOCKED') NOT NULL,
	PRIMARY KEY (`UserID`)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from libraryuser table:
UserID	FirstName	LastName	BirthDate	LoanerNumber	UserStatus
1	Sule	Altintas	1995-08-30	154399	ACTIVE
2	Fahad	Sajad	1990-05-09	160344	ACTIVE
3	Sebastian	Sbirna	1997-05-04	190553	ACTIVE
*/


CREATE TABLE loans (
	`UserID` INTEGER NOT NULL,
	`BookID` INTEGER NOT NULL,
	`LoanedDate` DATE NOT NULL,
	`UntilDate` DATE NOT NULL,
	`ReturnedDate` DATE,
	`LoanedStatus` ENUM('LOANED','FINED','RETURNED') NOT NULL,
	PRIMARY KEY (`UserID`, `BookID`, `LoanedDate`),
	CONSTRAINT loans_ibfk_1 FOREIGN KEY(`UserID`) REFERENCES libraryuser (`UserID`) ON DELETE CASCADE,
	CONSTRAINT loans_ibfk_2 FOREIGN KEY(`BookID`) REFERENCES book (`BookID`) ON DELETE CASCADE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from loans table:
UserID	BookID	LoanedDate	UntilDate	ReturnedDate	LoanedStatus
1	6	2020-03-29	2020-04-28	None	LOANED
2	6	2020-03-29	2020-04-28	None	LOANED
3	5	2020-03-12	2020-04-11	None	LOANED
*/


CREATE TABLE publisher (
	`PublisherID` INTEGER NOT NULL AUTO_INCREMENT,
	`PublisherName` VARCHAR(255) NOT NULL,
	`HQCountry` VARCHAR(255),
	PRIMARY KEY (`PublisherID`)
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from publisher table:
PublisherID	PublisherName	HQCountry
1	Klim	Denmark
2	Samleren	Denmark
3	Lindhardt og Ringhof	Denmark
*/


CREATE TABLE reserves (
	`UserID` INTEGER NOT NULL,
	`BookID` INTEGER NOT NULL,
	`ReservedDate` DATE NOT NULL,
	`ReservedStatus` ENUM('RESERVED','CANCELLED','COMPLETED') NOT NULL,
	PRIMARY KEY (`UserID`, `BookID`, `ReservedDate`),
	CONSTRAINT reserves_ibfk_1 FOREIGN KEY(`UserID`) REFERENCES libraryuser (`UserID`) ON DELETE CASCADE,
	CONSTRAINT reserves_ibfk_2 FOREIGN KEY(`BookID`) REFERENCES book (`BookID`) ON DELETE CASCADE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from reserves table:
UserID	BookID	ReservedDate	ReservedStatus
2	5	2020-03-20	RESERVED
*/


CREATE TABLE writes (
	`AuthorID` INTEGER NOT NULL,
	`BookID` INTEGER NOT NULL,
	PRIMARY KEY (`AuthorID`, `BookID`),
	CONSTRAINT writes_ibfk_1 FOREIGN KEY(`AuthorID`) REFERENCES author (`AuthorID`) ON DELETE CASCADE,
	CONSTRAINT writes_ibfk_2 FOREIGN KEY(`BookID`) REFERENCES book (`BookID`) ON DELETE CASCADE
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from writes table:
AuthorID	BookID
1	1
1	2
2	3
*/

In [8]:
import langchain
print(langchain.__version__)

0.3.25

In [30]:
from langchain.prompts import PromptTemplate
from langchain_experimental.sql import SQLDatabaseChain

custom_prompt = PromptTemplate(
    input_variables=["input"],
    
)

db_chain = SQLDatabaseChain.from_llm(
    llm=llm,
    db=db,
    prompt=custom_prompt,
    return_direct=True,
    verbose=True
)
response1 = db_chain.invoke({"query": "How many LibraryUser are their ?"})

> Entering new SQLDatabaseChain chain...
How many LibraryUser are their ?
SQLQuery:SELECT COUNT(*) FROM LibraryUser;
SQLResult: [(7,)]
> Finished chain.

In [78]:
few_shots = [
    { "Question" :"How many users are in the LibraryUser table",
      "SQLQuery": "SELECT COUNT(*) FROM LibraryUser",
      "SQLResult":"Result of SQL Query",
      "Answer":"7" },
    {
      "Question": "What is the total amount of unpaid fines",
      "SQLQuery": "SELECT SUM(Amount) FROM Fine WHERE PaymentStatus = 'NOT PAID'",
     "SQLResult":"Result of SQL Query",
     "Answer": "300.00" },
    { "Question": "Which users have not paid their fines",
     "SQLQuery": "SELECT DISTINCT CONCAT(U.FirstName, ' ', U.LastName) FROM LibraryUser U JOIN Fine F ON U.UserID = F.UserID WHERE F.PaymentStatus = 'NOT PAID'",
     "SQLResult":"Result of SQL Query",
     "Answer": "Billy Bully" },
    {  "Question": "List the titles of books authored by Haruki Murakami",
  "SQLQuery": "SELECT B.Title FROM Book B JOIN Writes W ON B.BookID = W.BookID JOIN Author A ON W.AuthorID = A.AuthorID WHERE A.FirstName = 'Haruki' AND A.LastName = 'Murakami'",
  "SQLResult":"Result of SQL Query",
  "Answer": ["Kafka på stranden", "1Q84"] },
    { "Question": "How many books are published by 'Klim'",
  "SQLQuery": "SELECT COUNT(*) FROM Book B JOIN Publisher P ON B.PublisherID = P.PublisherID WHERE P.PublisherName = 'Klim'",
  "SQLResult":"Result of SQL Query",
  "Answer": 2 },
    {"Question": "Which user has the highest total unpaid fine",
  "SQLQuery": "SELECT CONCAT(U.FirstName, ' ', U.LastName) FROM LibraryUser U JOIN Fine F ON U.UserID = F.UserID WHERE F.PaymentStatus = 'NOT PAID' GROUP BY U.UserID ORDER BY SUM(F.Amount) DESC LIMIT 1",
  "SQLResult":"Result of SQL Query",
  "Answer": "Billy Bully"},
  {  "Question": "Which book has the highest page count",
  "SQLQuery": "SELECT Title FROM Book WHERE PageCount = (SELECT MAX(PageCount) FROM Book)",
  "SQLResult":"Result of SQL Query",
  "Answer": "Database System Concepts, Sixth Edition" },
    
  { "Question": "List users who currently have a book on loan and have not yet returned it",
  "SQLQuery": "SELECT DISTINCT CONCAT(U.FirstName, ' ', U.LastName) FROM LibraryUser U JOIN Loans L ON U.UserID = L.UserID WHERE L.LoanedStatus = 'LOANED' AND L.ReturnedDate IS NULL",
   "SQLResult":"Result of SQL Query",
  "Answer": ["Sule Altintas", "Fahad Sajad", "Sebastian Sbirna", "Kåre Jørgensen"] },  
  { "Question": "What are the titles of books that have been both loaned and reserved",
  "SQLQuery": "SELECT DISTINCT B.Title FROM Book B JOIN Loans L ON B.BookID = L.BookID JOIN Reserves R ON B.BookID = R.BookID",
  "SQLResult":"Result of SQL Query",
  "Answer": "Windows 8.1 - Effektiv uden touch"  }
  

]

In [79]:
from langchain.embeddings import HuggingFaceEmbeddings

embeddings = HuggingFaceEmbeddings(model_name = 'sentence-transformers/all-MiniLM-L6-v2')

In [80]:
def clean_metadata(example):
    return {
        k: (
            ", ".join(str(item) for item in v) if isinstance(v, list)
            else str(v) if not isinstance(v, (str, int, float, bool, type(None)))
            else v
        )
        for k, v in example.items()
    }

cleaned_fewshots = [clean_metadata(example) for example in few_shots]

In [81]:
from langchain_community.vectorstores import Chroma
vectorstore = Chroma.from_texts(to_vectorize ,embedding = embeddings,metadatas = cleaned_fewshots)

In [82]:
from langchain.prompts import SemanticSimilarityExampleSelector
example_selector = SemanticSimilarityExampleSelector(
    vectorstore = vectorstore,
    k=2,
)

In [83]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX ,_mysql_prompt

In [84]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [85]:
from langchain.prompts import PromptTemplate
example_prompt = PromptTemplate(
    input_variables = ['Question','SQLQuery','SQLResult','Answer'],
    template = "\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}\n",
)

In [92]:
from langchain.prompts import FewShotPromptTemplate

template="""
You are an expert in translating natural language questions into SQL queries for a MySQL database.

Do not use any markdown formatting like ```sql or ```.

Only output the SQL query directly, nothing else.

Use the following user question:
{input}
"""
few_shot_prompt = FewShotPromptTemplate(
    example_selector = example_selector ,
    example_prompt = example_prompt,
    prefix = _mysql_prompt + template,
    suffix = PROMPT_SUFFIX,
    input_variables = ["input","table_info","top_k"],
)

In [102]:
ndb_chain = SQLDatabaseChain.from_llm(
    llm=llm,
    db=db,
    prompt=few_shot_prompt,
    return_direct=True,
    verbose=True
)
response1 = ndb_chain.invoke({"query": " give name of all author?"})

> Entering new SQLDatabaseChain chain...
 give name of all author?
SQLQuery:SELECT `FirstName`, `LastName` FROM `author`
SQLResult: [('Haruki', 'Murakami'), ('Helle', 'Helle'), ('Ernest', 'Hemingsway'), ('Georges', 'Simenon'), ('Martin', 'Simon'), ('Avi', 'Silberschatz'), ('Henry', 'Korth'), ('S.', 'Sudarshan'), ('Paul', 'Auster')]
> Finished chain.